{% macro make(mods) %}
<form data-form class="request{{ ' ' + mods if mods }}" action="//array.us19.list-manage.com/subscribe/post?" method="post">
  <div class="request__container">
    <input size="10" class="request__input" type="email" name="EMAIL" required placeholder="Your Email">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_60e9b1988b99d8c350dfd866c_338d7ef96b" tabindex="-1" value="">
      <input type="text" name="u" tabindex="-1" value="60e9b1988b99d8c350dfd866c">
      <input type="text" name="id" tabindex="-1" value="338d7ef96b">
    </div>
    <button data-modal-toggler="modal-form" class="request__submit" type="submit">Subscribe</button>
  </div>
</form>
{% endmacro %}
